.libraryContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.library{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0;
}

.moviesInLibrary{
    list-style: none;
    background-color: rgb(7 7 35);
    border-radius: 5px;
    padding: 3px;
    height: auto;
    position: relative;
    width: 100%;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start ;
    gap: 30px;


}

.libraryPosterImage{
    width: 72px;
    height: auto;
}

.titleAndYear{
    display: flex;
    flex-direction: column;
    height: 70px;
}

.libraryPoster{
    overflow: hidden;   
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    margin-left:3px;
}



#movieTitle{
    margin: 0;
    font-family: 'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#movieYear{
    margin: 0;
    font-family: 'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.trashContainer{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 8px;
}
.addtoLibraryIcon{
    color: rgb(194, 187, 176);
    transition: 0.2s;
}
.addtoLibraryIcon:hover{
    color: rgb(9, 222, 9);
}
.trashIcon{
    color: rgb(194, 187, 176);
    transition: 0.2s;
}
.trashIcon:hover{
    color: red;
}