.navbar{
    height: 9vh;
    color:white;
    display: flex;
    flex-direction: row;
}

.logoAndTitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

img{
    
    height:5vh;
    width: 5vh;
}