.navbar {
    width: 90%;
    height: 9vh;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logoAndTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.logo {
    height: 10vh;
    width: 10vh;
    margin-left: 10px;

}

.userDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    position: relative;
}




.Clear:hover{
    color: rgb(200, 36, 36);
}
.tooltip{
    position: absolute;
    top: 50px;
    right: 0;
    border: 1px solid rgb(174, 109, 109);
    padding: 5px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.2s;

}
.Clear:hover .tooltip{
    opacity: 1;
    color: white;
}

@media only screen and (max-width: 767px) {
    .logo {
        height: 5vh;
        width: 5vh;
    }

    .logoAndTitle {
        font-size: 0.5em;
        margin: 0;
    }
}