@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.popup {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 800;

    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.popupCard {
    position: relative;
    height: 80vh;
    width: 80vw;
    background-color: rgba(10, 10, 12, 1);
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;

    color: white;
}

.todayspick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;

    text-shadow: 0 0 1px #00ffc0, 0 0 11px #00ffc0;
    /* filter: drop-shadow(0 0 2px #00ffc0) drop-shadow(0 0 5px #00ffc0); */
}

.todayspick h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #21e271;
    font-size: 30px;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}


.body {
    height: 70%;
    border-top: solid 2px rgba(193, 192, 192, 0.447);
    border-bottom: solid 2px rgba(193, 192, 192, 0.447);
    color: white;

    display: flex;
    flex-direction: row;
    overflow-y: auto;
    z-index: 100;

}

.backdropContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    overflow: hidden;
}


.backdropImage {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    filter:
        opacity(0.5) brightness(.8) contrast(1.08) saturate(1.15);
}

.backdropOverlay {
    position: absolute;
    inset: 0;

    background:
        linear-gradient(to right,
            rgba(10, 10, 12, .96) 0%,
            rgba(10, 10, 12, .72) 22%,
            rgba(10, 10, 12, .28) 52%,
            rgba(10, 10, 12, 0) 100%),

        linear-gradient(to bottom,
            rgba(0, 0, 0, .05) 0%,
            rgba(0, 0, 0, .15) 25%,
            rgba(10, 10, 12, .55) 60%,
            rgba(10, 10, 12, .92) 82%,
            rgba(10, 10, 12, 0) 100%);

    z-index: 1;
    height: 100vh;
}

.poster {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.header,
.body,
.footer {
    position: relative;
    z-index: 2;
}

.posterPic {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.posterImage {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
    border-radius: 15px;
    z-index: 100;

}

.details {
    z-index: 100;
    width: 65%;
    height: 100%;
    /* background-color: aquamarine; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    gap: 5px;
    /*
     padding:10px 0; */
}

.details h2 {
    margin: 10px 0;
}

.yearAndRating {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.yearAndRating div {
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background: rgba(52, 120, 255, 0.10);
    border: 1px solid rgba(74, 144, 255, 0.28);
    box-shadow:
        0 0 20px rgba(74, 144, 255, 0.18),
        inset 0 0 8px rgba(255, 255, 255, .03);
    overflow: hidden;
    padding: 0 3px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.yearAndRating h4 {
    font-family: 'Poppins', 'Courier New', Courier, monospace;
}

#releaseYear {
    background: rgba(122, 92, 255, .08);
    border: 1px solid rgba(122, 92, 255, .22);
    backdrop-filter: blur(18px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow:
    0 0 8px rgba(122,92,255,.12),
    inset 0 0 2px rgba(255,255,255,.03);
}

#releaseYearh4 {
    font-size: 15px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

#IMDBrating {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(122, 92, 255, .08);
    border: 1px solid rgba(122, 92, 255, .22);
    box-shadow:
    0 0 8px rgba(122,92,255,.12),
    inset 0 0 2px rgba(255,255,255,.03);
    
}

#IMDBrating::before {
    content: "⭐ ";
    color: #0066cc;
}

#IMDBratingh4 {
    font-size: 13px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
}

.genreDiv {
    width: fit-content;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    /* filter: drop-shadow(0 0 .5px #00ffc0) drop-shadow(0 0 1px #00ffc0); */
    overflow: hidden;
    border: 1px solid rgb(243, 239, 239);
    padding: 0 3px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;

}


/* Provider */
.watchProviders {
    width: 100%;

}

.watchProviders h3 {
    margin: 10px 0;
}

.providersRow {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;

}

.providerCard {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 12px;
    background: #23242c;
    border: 1px solid rgba(255, 255, 255, .08);
    border-radius: 12px;
    transition: .2s;
}

.providerCard:hover {
    transform: translateY(-2px);
    background: #2d2e38;
}



.providerCard img {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    object-fit: cover;
}

.providerCard span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.cast {
    width: 100%;
}

.castRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    overflow-x: scroll;
    scrollbar-width: none;

}

.castCard {
    display: flex;
    flex-direction: column;
    width: 80px;
}

.castImg {
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.castImg img {
    object-fit: scale-up;
    /* height: 100%; */
    width: 100%;
}

.actorName {
    margin: 2px 0;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#addToHistoryh4,
#spinAgainh4 {
    font-size: 15px;
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    text-align: center;
}




.footer {
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px 15px;

    font-family: 'Poppins', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.spinAgain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(55, 59, 59);
    height: 70%;
    width: 25%;
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px, 5px;
    color: white;
    transition: 0.4s;

}

.spinAgain:hover {
    background-color: rgb(31, 30, 30);
    transform: translateY(-5px)
}

.addToHistory {
    width: 40%;
    background-color: rgb(75, 110, 224);
    border-radius: 10px;
    padding: 5px 15px;
    margin: 10px, 5px;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 0.9rem;
    padding: 5px 0;
    text-align: center;

    transition: 0.s;
}

.addToHistory:hover {
    background-color: rgb(21, 21, 247);
    transform: translateY(-5px)
}

.desc {
    font-size: 1rem;
    width: 70%;
}

.genre {
    /* height: 50px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* gap: 5px; */
    font-family: 'Poppins', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.genre h6 {
    margin: 0;
    padding: 0;
    color: rgb(121, 118, 113);
}

.genre h5 {
    margin: 0;
    padding: 0;

}

.genreRow {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.desc h6 {
    margin: 0;
    padding: 0;
    color: rgb(121, 118, 113);
    font-size: 13px;
}

.desc h5 {
    margin: 0;
    padding: 0;
    font-weight: 300;

}


@media (max-width: 767px) {

    .popup {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .popupCard {
        width: 90vw;
        height: 80vh;
    }

    .body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }

    .poster {
        height: 90%;

    }

    .details {
        height: 60%;
        width: 90%;

        gap: 8px;
        z-index: 100;
    }

    .desc {
        width: 90%;
    }

    .backdropContainer {
        height: 100%;
        width: 100%;
    }

}