.suggestedMoviesContainer{
    height: 60vh;
    width: 95%;
    background-color: rgba(43, 41, 52, 0.534);
    margin: 20px 0 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TopIMDBcontainer{
    width: 50vw;
}

.GOATmovies{
    background-color: rgb(7, 7, 35);
    min-width: 40%;
    height: 80%;
    margin: 20px;
    border-radius:10px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.topratedUL{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 5px;

}
.topratedUL li{
    list-style: none;
    
}
.suggestionCard{
    color: white;
    height: 40px;
    background-color: rgb(51, 41, 59);
    font-family: 'Poppins','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif   ;
}

.moviesInSuggestion{
    list-style: none;
    background-color: rgb(7 7 35);
    border-radius: 5px;
    padding: 3px;
    height: auto;
    position: relative;
    width: 100%;
    color: white;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start ;
    gap: 30px;
    transition: 0.1s;

}
.moviesInSuggestion:hover{
    background-color: rgb(28, 28, 53);
}

.suggestionPoster{
    
    width: 72px;
    height: auto;
}

.suggestionPosterImage{
    height: 90px;
    width: auto;
    border-radius: 5px;
    object-fit: contain;

}
#movieTitle{
    font-size: 18px;
}

.Plus{
    position: absolute;
    right: 20px;
}

h4{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    margin-top:15px;
    margin-bottom: 5px;
}
.toggleContainer{
    display: none;
}
