body{
  background-color: rgb(7, 7, 35);
   /* background-color: rgb(0, 0, 0); */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #252729 #243648; 
}

.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.genrePlusLibrary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



@media screen and (max-width: 767px) {
  .yearAndTitle{
    position: relative;
}

}