body{
  /* background-color: rgb(7, 7, 35); */
   background-color: rgb(0, 0, 0);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #252729 #243648; 
}

.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.genrePlusLibrary{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobileOnly{
  display: none;
}
.laptopOnly{
  display: block;
}


@media screen and (max-width: 767px) {
  .yearAndTitle{
    position: relative;
}
.genrePlusLibrary{
  flex-direction: column;
  color: white;
  position: relative;
}
.genreMobile{
  display: block;
  position: absolute;
  color: white;
  bottom: 30px;
  left: 20px;
  z-index: 100;
}
.SpinnerLibrarycontainer{
  display: flex;
  position: relative;
  width: 100%;
}
.mobileOnly{
  display: block;
}
.laptopOnly{
  display: none;
}


}